
header {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 160px;
    padding: 10px;

}

h1 {
    font-family: "Georgia", serif;
    font-weight: 400;
    color: #FDC032;
}

body {
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: auto ;
    margin-bottom: auto;
}

main {
    display: block;
    margin: 0 auto 0 auto;
    max-width: 600px;
}